{% extends 'panturaapp/base.html' %}
{% load i18n %}
{%load static%}

{% block content %}
<script src="//code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style4.css' %}"type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
<div class="bg-banner">
          <div class="header mt-5 ml-5">
                <p class="h1 ml-5 pl-5"> Select a category</p>
         </div>          
          </div>
         
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active ">
                              <div class=" row  px-5 mx-5 h-25 py-3 " >
                                <div class="col-md-4 col-sm-6" >
                                    <div class="card w-100 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                         <img class="card-img-top rounded-circle  w-auto h-50 " src="../static/image/silder-bar1.jpg" alt="Card image cap" >
                                             <div class="card-body">
                                                 <h5 class="card-title display-4 h3">Card title</h5>
                                                   <a href="#" class="btn w-100" id="pink-buttom">Explorer</a>
                                            </div>
                                   </div>
                                </div>    
                                    
                                   <div class="col-md-4 col-sm-6" >
                                    <div class="card w-100 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                         <img class="card-img-top rounded-circle  w-auto h-50 " src="../static/image/silder-bar1.jpg" alt="Card image cap" >
                                             <div class="card-body">
                                                 <h5 class="card-title display-4 h3">Card title</h5>
                                                   <a href="#" class="btn w-100" id="pink-buttom">Explorer</a>
                                            </div>
                                   </div>
                                </div>     

                                   <div class="col-md-4 col-sm-6" >
                                    <div class="card w-100 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                         <img class="card-img-top rounded-circle  w-auto h-50 " src="../static/image/silder-bar1.jpg" alt="Card image cap" >
                                             <div class="card-body">
                                                 <h5 class="card-title display-4 h3">Card title</h5>
                                                    <a href="#" class="btn w-100" id="pink-buttom">Explorer</a>
                                            </div>
                                   </div>
                                </div>         
                         
                              </div>  
                       </div>  

                       

                     
                      <div class="carousel-item  ">
                              <div class=" row  px-5 mx-5 h-25 py-3 " >
                                <div class="col-md-4 col-sm-6" >
                                    <div class="card w-100 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                         <img class="card-img-top rounded-circle  w-auto h-50 " src="../static/image/silder-bar1.jpg" alt="Card image cap" >
                                             <div class="card-body">
                                                 <h5 class="card-title display-4 h3">Card title</h5>
                                                    <a href="#" class="btn w-100" id="pink-buttom">Explorer</a>
                                            </div>
                                   </div>
                                </div>     
                                    
                                   <div class="col-md-4 col-sm-6 " >
                                    <div class="card w-100 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                         <img class="card-img-top rounded-circle  w-auto h-50 " src="../static/image/silder-bar1.jpg" alt="Card image cap" >
                                             <div class="card-body">
                                                 <h5 class="card-title display-4 h3">Card title</h5>
                                                    <a href="#" class="btn w-100" id="pink-buttom">Explorer</a>
                                            </div>
                                   </div>
                                </div>     

                                <div class="col-md-4 col-sm-6 " >
                                    <div class="card w-100 h-100 shadow-lg p-3 mb-5 bg-white rounded" >
                                         <img class="card-img-center rounded-circle  w-auto h-50 " src="../static/image/silder-bar1.jpg" alt="Card image cap" >
                                             <div class="card-body">
                                                 <h5 class="card-title display-4 h3">Card title</h5>
                                                    <a href="#" class="btn w-100" id="pink-buttom">Explorer</a>
                                            </div>
                                   </div>
                                </div>  
                         </div>  
                     </div>  

                          
                  
              
                      
                            
                      

                      
                             
                     
           
          <!-- the icons -->
             <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                   <img src="../static/image/Tracé 93.png" alt="">
                  
             </a>
             <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="false"></span>
                 <img src="../static/image/Tracé 94.png" alt="">
                
             </a>
    </div>
 </div> 
 <!--<div class="container-fluid rectengel w-100 mb-0  h-100"style="border: 5px solid blue;height:50%;background-color: red">
    <div class="row">
        <div class="col-12">
           
        </div>
    </div>
      
</div>  -->                     

                      
{% endblock %}